@font-face {
    font-family: 'Moniqa Black Display';
    src: url('../fonts/Moniqa-BlackDisplay.eot');
    src: url('../fonts/Moniqa-BlackDisplay.eot?#iefix') format('embedded-opentype'),
        url('../fonts/Moniqa-BlackDisplay.woff2') format('woff2'),
        url('../fonts/Moniqa-BlackDisplay.woff') format('woff'),
        url('../fonts/Moniqa-BlackDisplay.ttf') format('truetype'),
        url('../fonts/Moniqa-BlackDisplay.svg#Moniqa-BlackDisplay') format('svg');
    font-weight: 900;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Montserrat Bold';
    src: url('../fonts/Montserrat-Bold.eot');
    src: url('../fonts/Montserrat-Bold.eot?#iefix') format('embedded-opentype'),
        url('../fonts/Montserrat-Bold.woff2') format('woff2'),
        url('../fonts/Montserrat-Bold.woff') format('woff'),
        url('../fonts/Montserrat-Bold.ttf') format('truetype'),
        url('../fonts/Montserrat-Bold.svg#Montserrat-Bold') format('svg');
    font-weight: bold;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Montserrat';
    src: url('../fonts/Montserrat-Light.eot');
    src: url('../fonts/Montserrat-Light.eot?#iefix') format('embedded-opentype'),
        url('../fonts/Montserrat-Light.woff2') format('woff2'),
        url('../fonts/Montserrat-Light.woff') format('woff'),
        url('../fonts/Montserrat-Light.ttf') format('truetype'),
        url('../fonts/Montserrat-Light.svg#Montserrat-Light') format('svg');
    font-weight: 300;
    font-style: normal;
    font-display: swap;
}







